/* html {
  width: 100%;
  margin: 0;
  padding: 0;
} */



body{
  min-height: 100vh;
  background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(139,33,158,1) 46%);
}

.heading{
  width: 90%;
  margin-left: 5%;
  max-height: 130px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  .headingutilites {
      padding: 34px;
      max-height: 90px;
      max-width: 80px;
      min-width: 60px;
      min-height: 50px;
      border-radius: 6px;
      cursor: pointer;
      border: 1px solid;
      border-color: black;
  }

