<!DOCTYPE html>
<html>
<head>
<title>SolveMaster</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}"> <!--main.css-->
</head>
<body>

<!-- Header --> 
<header class="heading" style="background: white; border-radius: 8px;" id="login" >
  <div class="innerheading">
  <span class="headingutilites" onclick="location.href='{{loginhtml_url}}';"> <!--login.html-->
      <img src="{{url_for('static', filename='/img/login.png')}}" style="max-width: 60px; max-height: 60px;"> <!--login.png-->
  </span>

  <script src="{{url_for('static', filename='/scripts/first_task_page.js')}}"></script> <!--first_task_page.js-->

  <span class="headingutilites" onclick="location.href='{{leaderboardhtml_url}}';">  <!--leaderboard.html-->
    <img src="{{url_for('static', filename='/img/leaderboard.png')}}" style="max-width: 60px; max-height: 60px;"> <!--leaderboard.png-->
  </span>
  <span class="headingutilites" onclick="firstpage_request()">
    <img src="{{url_for('static', filename='/img/task_list.png')}}" style="max-width: 60px; max-height: 60px;"> <!--task_list.png-->
  </span>
  </div>

  <div class="headingutilites" style="align-content: center;">
    <a href="{{loginhtml_url}}" id="enter_account" class="login_link">Вход в аккаунт</a> <!--login.html-->
  </div>

</header>

<script src="{{url_for('static', filename='/scripts/main_page.js')}}"></script> <!--main_page.js-->

<span style="display: flex; align-items: center; margin-left: 5%;">

  <span>
    <img src="{{url_for('static', filename='/img/logo.png')}}" style="max-height: 800px; margin-right: 100px;"> <!--logo.png-->
  </span>
  <span>
    <h1>SolveMaster</h1>
  </span>

</span>


</body>
</html>
