<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- {% set this_user = session.query(user_model).get(current_user.id)%}
  {% set this_task = session.query(task_model).get(id_t)%} -->
  <head>
    <meta charset="UTF-8">
    <title>SolveMaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/task.css"> <!--{{url_for('static', filename='/css/task.css')}}-->
    <meta name="task_num" id="task_num" content="{{task_num}}">
   </head>
<body>
  
  <div class="wrapper">

    <header class="heading" style="background: white; border-radius: 8px; width: 100%;" id="login" >
      <div class="innerheading">
      <span class="headingutilites" onclick="location.href='/';"> <!--login.html-->
          <img src="{{url_for('static', filename='/img/login.png')}}" style="max-width: 60px; max-height: 60px;"> <!---->
      </span>
    
      <span class="headingutilites" onclick="location.href='leaderboard.html';">  <!--leaderboard.html-->
        <img src="{{url_for('static', filename='/img/leaderboard.png')}}" style="max-width: 60px; max-height: 60px;"> <!---->
      </span>
      <span class="headingutilites" onclick="location.href='{{task_list}}';">
        <img src="{{url_for('static', filename='/img/task_list.png')}}" style="max-width: 60px; max-height: 60px;"> <!---->
      </span>
      </div>
    
      <div class="headingutilites" style="align-content: center; max-width: 200px;">
        <p>{{this_user.nickname}}</p>
        <a href="/logout">Выйти</a>
         <!--login.html-->
      </div>
    
    </header>

    <h1 style="margin-top: 40px;">{{this_task.id}}. {{this_task.name}}<br></h1>
    <h3>Описание</h3>
    {{this_task.desc}}
    <h5>!!!В файле напишите функию solution</h5>
    <h3>Ввод</h3>
    {{this_task.input}}
    <h3>Вывод</h3>
    {{this_task.output}}
    <h2>Пример работы программы</h2>
    <table style="border: 1px solid rgb(0, 0, 0);">
      <thead>
        <tr>
          <th>Input</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{this_task.examplein}}</td>
          <td>{{this_task.exampleout}}</td>
        </tr>
      </tbody>
    </table>
    

  <h3>Ограничение по времени</h3>
  
  
    <h6 style="margin-bottom: 60px;">{{this_task.time}}</h6>
<form action="" method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}
              {{form.answer_file}}<br>
              {% for error in form.answer_file.errors %}
          <div class="alert alert-danger" role="alert">
              {{ error }}
          </div>
          {% endfor %}
        <div class="input-box button">
          {{ form.submit(type="submit") }}
        </div>
        <div class="text-center" style="color: red; margin-top: 20px">{{ message }}</div>
</form>
  <div style="display: flex; align-items: center; justify-content: space-between;" class="input-box-wrapper">
    <div style="border: solid; border-width: 1px; border-radius: 10px; display: flex; align-items: center; justify-content: center; padding: 5px;">
      <p>
        <a href="/prev_task/{{id_t}}">Предыдущая задача</a>
      </p>
    </div>
    <div style="border: solid; border-width: 1px; border-radius: 10px; display: flex; align-items: center; justify-content: center; padding: 5px;">
      <p>
        <a href="/next_task/{{id_t}}">Следующая задача</a>
      </p>
    </div>

  </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>

</body>
</html>
